{% extends "events/layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پشتیبانی</title>
</head>
<body>
      {% block navbar %}
        {{ block.super }}
    {% endblock %}
    {% block container %}
            <div class="container">
                <div style="user-select: none;" class="support-box">
                    <div class="support-box-content">
                        <h3>تماس با ما</h3>
                    </div>
                </div>
            </div>
    {% endblock %}
    {% block footer %}
            {{ block.super }}
    {% endblock %}
</body>
</html>